node_modules
__pycache__
jsconfig.json
.eslintrc.js
*.md
.vscode
.devcontainer
.ini
.git
.github
.gitignore
.github/
docs/
ecosystem.config.js
.http
mongo_data
mongo_data.old
kafka_data
.DS_Store
.env.local
.env.prod
.env.development.local
.env.test.local
/.env
.vscode/settings.json
.venv/
.DS_Store
*.pyc
api/main/config/*.cfg
.mypy_cache
mongo_data
kafka_data
mongo_data.old
mongo_db
db.dump
__pycache__
.pytest_cache
tests/
README.md
