node_modules
__pycache__
jsconfig.json
^\.*
*.md
docs/
ecosystem.config.js
mongo_data
mongo_data.old
mongo_db
kafka_data
/.env
.vscode/settings.json
*.pyc
api/main/config/*.cfg
db.dump
tests/
*.md
!.dockerignore
!.gitignore
